.columns {
    width: 600px;
    float: right;
    font-size: larger;
}
body {
    background-image: url(images/eagles.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
    background-color: tan;
    color: beige;
    background-position: center;
}
h1 {
    color: beige;
    text-align: center;
}
h2 {
    color: black;
    font-family: monospace;
}
h3 {
    color:tan;
}
*{
    padding: 0;
    margin: 0;
}